body {
  font-family: 'Old Standard TT', serif;
}
* {
  box-sizing: border-box;
  width: 100%;
}
.let img {
  overflow: visible;
  position: absolute;
  width: 100%;
  height: 1185.37px;
  left: 0px;
  top: 23px;

}
