body {
  font-family: 'Old Standard TT', serif;
}
* {
  box-sizing: border-box;
  width: 100%;
}
.let img {
  position: absolute;
  width: 1440px;
  height: 1185.37px;
  left: 0px;
  top: 23px;
}
.bl {
  background: #4200FF;
  width: 1440px;
  height: 5998px;
  top: 1172px;
  position: relative;
  opacity: .2;
}
.let2 img {
  position: relative;
  width: 1334.72px;
  height: 810.88px;
  left: 15px;
  top: 21px;
}
.what {
  position: absolute;
  width: 866px;
  height: 140px;
  left: 47px;
  top: 148px;
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: bold;
  font-size: 288px;
  line-height: 251px;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}
.what1 {
  position: absolute;
  width: 520px;
  height: 187px;
  left: 802px;
  top: 145px;
  font-family: Old Standard TT;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.what2 {
  position: absolute;
  width: 600px;
  height: 187px;
  left: 802px;
  top: 400px;
  font-family: Old Standard TT;
  font-style: normal;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}
.let3 img {
  position: absolute;
  width: 1344px;
  height: 150px;
  left: 39px;
  top: 788px;
}
.white {
  position: absolute;
  width: 1362px;
  height: 640px;
  left: 39px;
  top: 1048px;
  background: #FFFFFF;
}
.Aa {
  position: absolute;
  width: 405px;
  height: 210px;
  left: 58px;
  top: 14px;
  font-style: italic;
  font-weight: normal;
  font-size: 288px;
  line-height: 356px;
  color: #FFFFFF;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.Aa1 {
  position: absolute;
  width: 405px;
  height: 210px;
  left: 73px;
  top: 30px;
  font-style: italic;
  font-weight: normal;
  font-size: 288px;
  line-height: 356px;
  color: #1F1BFF;
}
.aaa {
  position: absolute;
  width: 1361px;
  height: 640px;
  left: 2px;
  top: 0px;
}
h2 {
  fonf-family: Old Standard TT;
  font-size: 36px;
  font-style: italic;
  line-height: 93.6%;
}
.zagolovok h2 {
  position: absolute;
  width: 128px;
  height: 32px;
  left: 651px;
  top: 96px;
}
p {
  font-family: Old Standard TT;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
}
.text p {
  position: absolute;
  width: 600px;
  height: 196px;
  left: 652px;
  top: 333px;
}
